/* import */
@import "fonts.css";

html{
    height: 100%;
    background-color: #C4B3A2;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: "GTWalsheimProLight", Helvetica Neue, Arial, sans-serif;
    font-size: 1.000em; /* équivalent à 16px */
    color: #2A4156;
}

.home{
    background: url('../assets/bg-motif-home.png') #ffffff no-repeat center;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

.les-bureaux{
    background: url('../assets/bg-les-bureaux.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}

.les-services{
    background: url('../assets/bg-les-services.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}

.localisation{
    background: url('../assets/bg-localisation.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}

.perspectives{
    background: #ffffff;
}

.medias{
    background: url('../assets/bg-medias.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}

/* general */

a, a:hover, a:active, a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.30s ease-in-out 0s;
    -webkit-transition: all 0.30s ease-in-out 0s;
    -moz-transition: all 0.30s ease-in-out 0s;
    -o-transition: all 0.30s ease-in-out 0s;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

#modal-burger{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background: url(../assets/motif-navburger.png) #C4B3A2 center no-repeat;
    background-size: cover;
    z-index: 2;
}

.nav-modal-burger {
    position: absolute;
    left: 14%;
    transform: translate(0, -50%);
    line-height: 30px;
    top: 50%;
    text-transform: uppercase;
    font-family: "GTWalsheimProLight", Helvetica Neue, Arial, sans-serif;
}

.nav-modal-burger li a{
    color: #ffffff;
    font-size: 1.750em;
    padding: 20px;
    display: inline-block;
    letter-spacing: 2px;
}

.nav-modal-burger li a:hover{
    padding-left:6px;
}

.nav-modal-burger li .active{
    font-family: "GTWalsheimProMedium", Helvetica Neue, Arial, sans-serif;
}

.arrow-left img, .arrow-right img{
    width: 60px;
    height: auto;
}

.arrow-left, .arrow-right{
    height: auto;
    position: absolute;
    cursor: pointer;
    display: inline-block;
    top: 50%;
}

.arrow-right{
    right: 30px;
}

.arrow-left{
    left: 30px;
}

/* header */

#header-site{
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-sizing: border-box;
    background: -moz-linear-gradient(top, rgba(97,83,63,0.55) 0%, rgba(255,255,255,0) 85%);
    background: -webkit-linear-gradient(top, rgba(97,83,63,0.55) 0%,rgba(255,255,255,0) 85%);
    background: linear-gradient(to bottom, rgba(97,83,63,0.55) 0%,rgba(255,255,255,0) 85%);
}

.nav-burger {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    padding: 19px 20px 13px 20px;
    background-color: #ffffff;
    -webkit-border-radius: 260px / 200px;
    -moz-border-radius: 260px / 200px;
    border-radius: 260px / 200px;
}

.nav-burger, .nav-burger:hover{
    -webkit-transition: all 0.30s ease-in-out 0s;
    -moz-transition: all 0.30s ease-in-out 0s;
    -o-transition: all 0.30s ease-in-out 0s;
}

.nav-burger:hover{
    background: rgba(255,255,255,0.8);
}

.nav-burger span {
    height: 2px;
    border-radius: 100px;
    background-color: #96846D;
    display: block;
    margin-bottom: 4px;
    width: 20px;
}

/* Icon 3 */

#nav-icon3{
    width: 20px;
    height: 16px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #71523D;
    border-radius: 80px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 5px;
}

#nav-icon3 span:nth-child(4) {
    top: 10px;
}

#nav-icon3.open span:nth-child(1) {
    top: 0px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


.nav-burger span:last-child{
    margin-bottom: 0px;
}

#logo-site a{
    display: block;
}

#logo-site img{
    width: 210px;
    height: auto;
}

/* footer */

#footer-site {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    background-color: #ffffff;
}

.subnav-footer {
    text-align: center;
    padding: 0 15px;
}

.subnav-footer ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

.subnav-footer ul li{
    display: inline-block;
    padding: 20px 0px;
    width: 100%;
}

.subnav-footer ul a {
    padding: 18px 18px;
    color: #71523D;
    text-transform: uppercase;
    border: 1px solid #D8D8D8;
    border-radius: 100px;
    letter-spacing: 1px;
    display: block;
    cursor: pointer;
    font-size: 0.588em;
}

.medias .subnav-footer ul a{
    display: inline-block;
    padding: 18px 5px;
    width: 300px;
}

.subnav-footer ul li a:hover{
    background-color: #C4B3A2;
    border: 1px solid #C4B3A2;
    color: #ffffff;
}

.subnav-footer ul li a:focus{
    background-color: #C4B3A2;
    color: #ffffff;
}

.subnav-footer-hover {
    width: 100%;
    background-color: #C4B3A2;
    text-align: center;
    padding: 16px 15px;
}

.subnav-footer-hover li{
    display: inline-block;
    padding: 0 5px;
}

.subnav-footer-hover li a{
    padding: 18px 18px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 100px;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
    font-size: 0.588em;
}

#subnav-footer-one, #subnav-footer-two, #subnav-footer-three{
    display: none;
}

.subnav-footer-hover li a:hover{
    background-color: #ffffff;
    color: #71523D;
}

/* page home */

#logo-page-home {
    text-align: center;
    z-index: 1;
}

#logo-page-home img {
    width: 20vw;
    height: auto;
    margin-bottom: 4%;
}

.description p {
    margin-bottom: 0;
    font-size: 1.1vw;
    line-height: 1.3;
}

.content-top{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.content-bottom{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left:0;
}

#bloc1, #bloc2, #bloc3, #bloc4, #bloc5{
    border-radius: 60%;
    background-color: #dddddd;
    position: absolute;
    width: 24vw;
    height: 17vw;
    overflow: hidden;
    font-size: 1.2vw;
    background-size: cover;
    letter-spacing: 2px;
    display: inline-block;
    font-family: "GTWalsheimProRegular", Helvetica Neue, Arial, sans-serif;
    box-shadow: 4px -11px white, 4px -12px #CFCFCF;
    text-shadow: 1px 2px 6px rgba(0,0,0,0.2);
}

/* bloc "Localisation" */

#bloc1{
    -moz-transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
    bottom: -14%;
    left: 12%;
}

#bloc1:before
{
    content: "";
    position: absolute;
    width: 110%;
    top: 0;
    left: 0%;
    height: 110%;
    z-index: -1;
    background: url("../assets/bg-localisation.jpg") 0 0 no-repeat;
    background-size: cover;
    -moz-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

#bloc1 .inner span{
    transform: rotate(18deg);
    display: inline-block;
}

/* bloc "Les services" */

#bloc2{
    -moz-transform: rotate(10deg) translate(-50%);
    -webkit-transform: rotate(10deg) translate(-50%);
    transform: rotate(10deg) translate(-50%);
    bottom: 18%;
    left: 50%;
}

#bloc2:before
{
    content: "";
    position: absolute;
    width: 110%;
    top: 0;
    left: 0%;
    height: 110%;
    z-index: -1;
    background: url("../assets/bg-les-services.jpg") center no-repeat;
    background-size: cover;
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#bloc2 .inner span{
    transform: rotate(-10deg);
    display: inline-block;
}

/* bloc "Les bureaux" */

#bloc3{
    -moz-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
    bottom: -14%;
    right: 12%;
}

#bloc3:before
{
    content: "";
    position: absolute;
    width: 110%;
    top: 0;
    left: 0%;
    height: 110%;
    z-index: -1;
    background: url("../assets/bg-les-bureaux.jpg") center no-repeat;
    background-size: cover;
    -moz-transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
}

#bloc3 .inner span{
    transform: rotate(-18deg);
    display: inline-block;
}

/* bloc "perspectives" */

#bloc4{
    -moz-transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
    top: 22%;
    left: 24%;
}

#bloc4:before
{
    content: "";
    position: absolute;
    width: 110%;
    top: 0;
    left: 0%;
    height: 110%;
    z-index: -1;
    background: url("../assets/bg-perspectives.jpg") center no-repeat;
    background-size: cover;
    -moz-transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
}

#bloc4 .inner span{
    transform: rotate(-14deg);
    display: inline-block;
}

/* bloc "Médias" */

#bloc5{
    -moz-transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
    top: 22%;
    right: 24%;
}

#bloc5:before
{
    content: "";
    position: absolute;
    width: 110%;
    top: 0;
    left: 0%;
    height: 110%;
    z-index: -1;
    background: url("../assets/bg-medias.jpg") center no-repeat;
    background-size: cover;
    -moz-transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
}

#bloc5 .inner span{
    transform: rotate(14deg);
    display: inline-block;
}

.inner{
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 32%;
    height: 100%;
    color: #FFF;
    background: rgba(164,146,128,0.6);
}

.inner, .inner:hover{
    -webkit-transition: all 0.30s ease-in-out 0s;
    -moz-transition: all 0.30s ease-in-out 0s;
    -o-transition: all 0.30s ease-in-out 0s;
}

.inner:hover {
    background-color: rgba(164,146,128,0.9);
}

#logo-page-home{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Pge détail */

.owl-carousel .owl-item:last-child{
    margin-right: 0 !important;
}

/* Slider full width */

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* modal */

.modal-style{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

/*
    Media queries
----------------------------------------------*/

@media (max-width: 1330px){

    .subnav-footer ul a {
        padding: 18px 5px;
        font-size: 0.550em;
    }

}

@media (max-width: 1200px) { }

@media (max-width: 1120px){

    .subnav-footer ul a {
        padding: 18px 5px;
        font-size: 0.500em;
    }

}

@media (max-width: 992px) { }

@media (max-width: 768px) {

    html{
        font-size: 80%;
    }

    .home{
        overflow: inherit;
        background-attachment: fixed;
        height: auto;
    }

    #logo-page-home{
        position: relative;
        width: 100%;
        padding: 40px 0;
        transform: none;
        left: inherit;
        top: inherit;
        font-size: 1em;
    }

    .description p{
        font-size: 1em;
    }

    #logo-page-home img{
        width: 200px;
        height: auto;
        margin-bottom: 10px;
    }

    .content-top, .content-bottom{
        position: relative;
        width: 100%;
        text-align: center;
    }

    #bloc1, #bloc2, #bloc3, #bloc4, #bloc5{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        width: 300px;
        font-size: 1em;
        display: block;
        transform: rotate(0deg);
        margin: 0 auto;
        box-shadow: none;
        margin-bottom: 30px;
        height: 200px;
    }

    #bloc1 .inner, #bloc2 .inner, #bloc3 .inner, #bloc4 .inner, #bloc5 .inner{
        padding: 0;
    }

    #bloc1 .inner span, #bloc2 .inner span, #bloc3 .inner span, #bloc4 .inner span, #bloc5 .inner span{
        transform: rotate(0deg);
        margin-top: 96px;
        padding-top: 0;
    }

    #bloc1:before, #bloc2:before, #bloc3:before, #bloc4:before, #bloc5:before{
        transform: rotate(0deg);
        height: 100%;
        width: 100%;
    }

}

@media (max-width: 576px) {

    .nav-modal-burger {
        left: 0;
        width: 100%;
        text-align: center;
    }

    #nav-icon3 {
        width: 18px;
        height: 15px;
    }

    .nav-burger {
        right: 25px;
        top: 16px;
        padding: 13px 14px 9px 14px;
    }

    #logo-site img {
        width: 160px;
    }

    .subnav-footer ul a {
        padding: 18px 5px;
        font-size: 0.800em;
    }

    .arrow-right{
        right: 20px;
    }

    .arrow-left{
        left: 20px;
    }

    #nav-icon3 span {
        height: 2px;
    }

    .subnav-footer ul li {
        width: 100%;
    }

    #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
        top: 5px;
    }

    #nav-icon3 span:nth-child(4) {
        top: 10px;
    }

    #header-site {
        padding: 25px;
    }

    .nav-modal-burger li a {
        padding: 14px 0;
    }

    .arrow-left img, .arrow-right img{
        width: 50px;
    }

    .subnav-footer-hover li a {
        padding: 18px 14px;
    }

    .subnav-footer-hover li {
        display: inline-block;
        padding: 0 4px;
    }

    .subnav-footer-hover {
        padding: 16px 8px;
    }

    .medias .subnav-footer ul li{
        width: auto;
    }

}